.fill-btn {
  border-radius: 4px;
  background-color: #496BE1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
}

.fill-btn .fill-btn-txt {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.fill-btn .fill-btn-txt:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.fill-btn:hover .fill-btn-txt {
  padding-right: 25px;
}

.fill-btn:hover .fill-btn-txt:after {
  opacity: 1;
  right: 0;
}